.background{
    background: url("../../../public/backgroun3.jpg") no-repeat center;
    background-size:cover ;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}
.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}
.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
.search-bar{
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.search-bar input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}
.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
.search-bar input::placeholder{
    color: #fff;
}
.search-bar button i{
    font-size: 22px;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 550px;
    margin-top: 20px;
    background: url("../../../public/backgroun3.jpg") no-repeat center;
    background-size:cover ;
    border-radius: 20px;
    overflow: hidden;
}
.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;



}
.item .logo{
    color: #fff;
    font-size: 30px;

}
.text-item h2{
    font-size: 40px;
    line-height: 1;
}
.text-item p{
    font-size: 16px;
    margin: 20px 0;
}
.social-icon a i{
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.social-icon a:hover i{
    transform: scale(1.2);
}
.container .login-section{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: #fff;
    backdrop-filter: blur(10px);
}

.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.login-section .form-box.register{
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
}
.login-section.active .form-box.register{
    transform: translateX(0px);
    transition-delay: .7s;
}

.login-section .form-box.login{
    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}
.login-section.active .form-box.login{
    transform: translateX(430px);
    transition-delay: 0s;
}

.controls{
    height: 800px;
    text-align: center;
    background: white url("../../../public/background4.jpg") no-repeat;
    background-size:cover ;
}
#img-reactjs{
    transform: translateX(0px) translateY(-80px);
}
.transparent-background {
    background: rgba(255, 255, 255, 0.15);
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    transform: translateX(260px) translateY(-135px);
    display: flex;
}
#nav-bar-left{
    width: 300px;
    height: 600px;
    border: 1px solid #b2b2b2;
    border-right: hidden;
    border-radius: 10px;
    text-align: left;
    overflow-y: scroll;
}
#nav-bar-left::-webkit-scrollbar {
    display: none;
}
.img-toUser{
    width: 45px;
    height: 45px;
    border: hidden;
    border-radius: 50%;
}
#div-right{
    width: 700px;
    height: 600px;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
}
.flm-1{
    width: 50px;
    height: 50px;
    display: flex;
}
.flm-time{
    width: 200px;
    position: absolute;
    transform: translateX(150px) translateY(0px);
}
.message-input-container{
    height: 50px;
    width: 100%;
    margin-top: 5px;
    /*transform: translateX(0px) translateY(555px);*/
}
.message-content-me{
    transform: translateX(-10px) translateY(10px);
    background: rgba(202, 239, 142, .65);
    padding-right: 10px;
    padding-left: 10px;
    float: right;
    border-radius: 10px;
}
.message-content-you{
    transform: translateX(10px) translateY(10px);
    background: rgba(166, 166, 166, 0.65);
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    border-radius: 10px;
}
.content-message-me{
    width: 100%;
    height: 40px;
    /*border: 1px solid black;*/
    float: right;
    text-align: right;
}
.content-message-you{
    width: 100%;
    height: 40px;
    /*border: 1px solid black;*/
    float: left;
    text-align: left;
}
.img-message-you{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}
.img-message-me{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: translateX(0px) translateY(-0px);
    float: right;
    margin-right: 10px;
}
#send-message-input{
    width: 500px;
    height: 40px;
    border-radius: 17px;
    padding-left: 30px;
    border: hidden;
}
#list-message-container{
    width: 100%;
    height: 550px;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    overflow-y: scroll;
}
#logout-btn{
    transform: translateX(210px) translateY(-200px);
}
#list-message-container::-webkit-scrollbar {
    display: none;
}
#send-message-button{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    border-radius: 18px;
    border: hidden;
    background-color: lime;
    color: white;
}
.flm-2{
    width: 249px;
    height: 50px;
}
.p-user-name{
    transform: translateX(50px) translateY(-50px);
}
.p-content{
    transform: translateX(50px) translateY(-50px);
    color: grey;
}
.friend-list-message{
    height: 50px;
    width: 290px;
    border: 1px solid grey;
    margin-top: 5px;
    background-color: white;
    border-radius: 20px;
}
.login-section .form-box h2{
    text-align: center;
    font-size: 25px;
}

.form-box .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid#fff;
    margin: 30px 0;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;

    font-size: 16px;
    padding-right: 28px;


}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600;
    pointer-events: none;
    transition: .5s ease;

}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.input-box input:focus~ label,
.input-box input:valid~ label{
    top: -5px;
}
.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px ;
    display: flex;
    justify-content: space-between;
}
.remember-password label input{
    accent-color: #fff;
    margin-right: 3px;

}
.remember-password a{
    color: #fff;
    text-decoration: none;
}
.remember-password a:hover{
    text-decoration: underline;
}
.btn{
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #f72d7a;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0,0,0,0.4);

}
.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}
.create-account p a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.create-account p a:hover{
    text-decoration: underline;
}
#result{
    color: red;
    font-weight: 600;
    position: relative;
}
.popup{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .4s , top .4s;
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    height: 330px;
    color: #000;
}
.popup ion-icon{
    color: #00ff00;
    font-size: 50px;
}
.popup button{
    width: 100%;
    background-color: #00ff00;
    padding: 10px 0;
    margin-top: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}
.popup a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}
.open-slide{
    top: 50%;
    transform: translate(-50% , -50%) scale(1);
    visibility: visible;
}
.text-danger{
    color: red;
}


/*-----------------------*/
.button-admin-and-user {
    --primary-color: #2c2fc5;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

.button-admin-and-user .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-admin-and-user .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.button-admin-and-user .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.button-admin-and-user:hover {
    background-color: var(--hover-color);
}

.button-admin-and-user:hover .arrow {
    background: var(--secondary-color);
}

.button-admin-and-user:hover .arrow:before {
    right: 0;
}
